a {
    text-decoration: none;
    color: white;;
    background-color: #1f1f1f;
    border: 2px solid #cbcbcb; /* Параметры рамки */
    padding: 0.5em 3em; /* Поля вокруг текста */
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
.active {
    border-color: #787ADE;
    color: #787ADE;
}
header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
    box-shadow: 0px 2px 0px 0px #cbcbcb;
    background-color: #1f1f1f;
    padding-top: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: fixed;
    
}

.contanier {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cbcbcb;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 8%;
   
}
.infobox__header{
    font-size: 32px;
    font-weight: 600;
}
.infobox__description {
    font-size: 20px;
}
.infobox__text_right {
    text-align: right;
    
}
.infobox__description_right {
    padding-left: 40px;
}
.infobox__description_left {
    padding-right: 35px;
}
.contanier h1 {
    font-size: 64px;
}
.infobox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
}
.infobox__text {
    max-width: 400px;
}
.contanier iframe
{
    border-radius: 47px;
    margin: 0;
    box-shadow: 20px 20px 0px 0px #787ADE;
}
 ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
