@import url("HeaderForAll.css");



body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
.active {
    border-color: #787ADE;
    color: #787ADE;
}


.chem {
    max-height: 500px;
}

.main_content {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cbcbcb;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    
}

.main_content h1 {
    text-align: justify;
    line-height: 2.5;
    font-size: 45px;
}

.main_content h2 {
    font-size: 26px;
}

.main_content p {
    font-size: 16px;
    text-align: justify;
    line-height: 2.5;
}

.text_one {
    margin-top: 80px;
    margin-bottom: 145px;
}

.text_two{
    margin-top: 145px;
    margin-bottom: 100px;
}
.fact_text {
    padding: 15px 15px 25px 30px;
    background-color: #787ADE;
    border-radius: 40px;
    color:aliceblue;
    margin: 5px;
}

.text_three {
    margin-bottom: 145px;
}

.container_with_pic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;
    
}

.container_with_pic .chem {
    border-radius: 47px;
    box-shadow: 30px -30px 0px 0px #787ADE;
    
}

.container_with_pic p {
    max-width: 550px;
    
}


@media (max-width: 905px) and (min-width: 904px) {
    a {
        padding: 0.5em 2em; /* Поля вокруг текста */
        margin-top: 10%;
        font-size: small;
    }
    main {
        max-width: 20%;
    }
    .main-container {
        max-width: 848px;
    }
    .modal {
        top: 72%;
        left: 39%;
        width: 48%;
        max-height: 240px;
        z-index: 9;
    }
}
@media (max-width: 425px) and (min-width: 424px)
{
    header {
        width: 100%;
    }
    a {
        padding: 0.5em 2em; /* Поля вокруг текста */
        margin-top: 10%;
        font-size: small;
    }
    main {
        max-width: 424px;
    }
    .chem {
        box-shadow: none !important;
        align-self: center;
    }
    .container_with_pic {
        flex-direction: column;
    }
    h1 {
        width: 100%;
        text-align: center !important; 
        font-size: 38px !important;
    }
    .main_content {
        margin-top: 100px;
        margin-left: 9%;
        margin-right: 9%;
    }
}