@import url("HeaderForAll.css");
body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
.active {
    border-color: #787ADE;
    color: #787ADE;
}
.contanier {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cbcbcb;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 8%;
   
}
.infobox__header{
    font-size: 32px;
    font-weight: 600;
}
.infobox__description {
    font-size: 20px;
}
.infobox__text_right {
    text-align: center;
    line-height: 1.5;
    
}
.infobox__description_right {
    padding-left: 40px;
}
.infobox__description_left {
    padding-right: 35px;
    text-align: center;
    line-height: 1.5;
}
.contanier h1 {
    font-size: 64px;
}
.infobox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
}
.infobox__text {
    max-width: 400px;
}
.contanier iframe
{
    border-radius: 47px;
    margin: 0;
    box-shadow: 20px 20px 0px 0px #787ADE;
}

@media (max-width: 425px) and (min-width: 424px)
{
    
    .contanier {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contanier h1 {
        width: 424px;
        font-size: 44px;
        margin-top: 100px;
        text-align: center;
    }
    header {
        width: 424px;
    }
    a {
        padding: 0.5em 2em; /* Поля вокруг текста */
        margin-top: 10%;
        font-size: small;
    }
    main {
        max-width: 424px;
    }
    .infobox {
        flex-direction: column;
        width: 424px;
    }
    iframe {
        width: 400px;
    }
    .infobox_right {
        flex-direction: column-reverse;
    }
    .infobox__text {
        max-width: 424px;
    }
    .infobox__description {
        padding-left: 0;
    }
    .infobox__description_left {
        padding-right: 0;
    }
    .infobox__header {
        text-align: center;
        line-height: 1.5;
    }
}