a {
    text-decoration: none;
    color: white;
    background-color: #1f1f1f;
    border: 2px solid #cbcbcb; /* Параметры рамки */
    padding: 0.5em 3em; /* Поля вокруг текста */
    border-radius: 20px;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
.active {
    border-color: #787ADE;
    color: #787ADE;
}
header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
    box-shadow: 0px 2px 0px 0px #cbcbcb;
    background-color: #1f1f1f;
    padding-top: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: fixed;
    
}

.section p{
    min-width: 250px;
    min-height: 240px;
}
.section {
    min-width: 365px;
    max-height: 260px;
}

.main_content {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cbcbcb;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    
}

.main_content h1 {
    font-size: 45px;
}

.text_one__infobox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    padding-right: 50px;
}

.text_one__infobox p {
    max-width: 700px;
    text-align: justify;
    line-height: 2.5;
    padding-right: 100px;
}

.text_one__infobox img {
    border-radius: 47px;
    box-shadow: 30px -30px 0px 0px #787ADE;
}

.text_one h2 {
    color: #787ADE;
}

.text_two {
    margin-bottom: 60px;
}
.section {
    display: inline-block;
    margin: 15px;
    padding: 10px 5px 40px 30px;
    background-color: #787ADE;
    border-radius: 40px;
    color:aliceblue;
    max-width: 350px;
}

.section p {
    max-width: 360px;
    text-align: center;
    line-height: 1.5;
}
.section h3 {
    text-align: center;
}
.facts {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_five {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;
    padding-left: 30px;

}

.text_five p {
    max-width: 700px;
    text-align: justify;
    line-height: 2.0;
}

.text_five img {
    border-radius: 47px;
    box-shadow: -30px 30px 0px 0px #787ADE;
}

.text_fout {
    margin-top: 100px;
    margin-bottom: 150px;
}

.text_fout h2 {
    box-shadow: 0px 2px 0px 0px #787ADE;
}