a {
    text-decoration: none;
    color: white;
    background-color: #1f1f1f;
    border: 2px solid #cbcbcb; /* Параметры рамки */
    padding: 0.5em 3em; /* Поля вокруг текста */
    border-radius: 20px;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
}
.active {
    border-color: #787ADE;
    color: #787ADE;
}
header {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
    box-shadow: 0px 2px 0px 0px #cbcbcb;
    background-color: #1f1f1f;
    padding-top: 15px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    position: fixed;
    
}

.mainContent {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #cbcbcb;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
}
.mainContent h1 {
    text-align: center;
    line-height: 1.5;
    font-size: 45px;
}
canvas {
    max-width: 800px; /* Максимальная ширина канваса */
    width: 100%;      /* Ширина 100% от контейнера */
    height: 600px;    /* Фиксированная высота канваса */
    margin: 0 auto;   /* Центрирование */
    font-size: 40px;
}
.canvas label {
    font-size: 100px;
}